In [1]:
import duckdb
import os

In [2]:
os.chdir('..')
os.listdir()

['.git',
 'requirements.in',
 'notebooks',
 'requirements.txt',
 'clearpandas',
 'scripts',
 'README.md',
 'LICENSE',
 'data',
 '.gitignore']

In [3]:
con = duckdb.connect()
con.execute("INSTALL tpch; LOAD tpch;")
con.execute("CALL dbgen(sf=0.01);")

In [4]:
customers_df = con.execute("SELECT * FROM customer").df()
file_path = 'data/customers.csv'
customers_df.to_csv(file_path, index=False)

print (f"Number of customers: {len(customers_df)}")
customers_df.head()

Number of customers: 1500

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,1,Customer#000000001,j5JsirBM9PsCy0O1m,15,25-989-741-2988,711.56,BUILDING,y final requests wake slyly quickly special ac...
1,2,Customer#000000002,487LW1dovn6Q4dMVymKwwLE9OKf3QG,13,23-768-687-3665,121.65,AUTOMOBILE,y carefully regular foxes. slyly regular reque...
2,3,Customer#000000003,fkRGN8nY4pkE,1,11-719-748-3364,7498.12,AUTOMOBILE,fully. carefully silent instructions sleep alo...
3,4,Customer#000000004,4u58h fqkyE,4,14-128-190-5944,2866.83,MACHINERY,sublate. fluffily even instructions are about th
4,5,Customer#000000005,hwBtxkoBF qSW4KrIk5U 2B1AU7H,3,13-750-942-6364,794.47,HOUSEHOLD,equests haggle furiously against the pending p...

In [5]:
orders_df = con.execute("SELECT * FROM orders").df()
file_path = 'data/orders.csv'
orders_df.to_csv(file_path, index=False)

print (f"Number of orders: {len(orders_df)}")
orders_df.head()

Number of orders: 15000

,o_orderkey,o_custkey,o_orderstatus,o_totalprice,o_orderdate,o_orderpriority,o_clerk,o_shippriority,o_comment
0,1,370,O,172799.49,1996-01-02,5-LOW,Clerk#000000951,0,ly express platelets. deposits acc
1,2,781,O,38426.09,1996-12-01,1-URGENT,Clerk#000000880,0,ve the furiously fluffy dependencies. carefull...
2,3,1234,F,205654.30,1993-10-14,5-LOW,Clerk#000000955,0,after the asymptotes. instructions cajole aft...
3,4,1369,O,56000.91,1995-10-11,5-LOW,Clerk#000000124,0,st the furiously bold pinto beans. furiously p...
4,5,445,F,105367.67,1994-07-30,5-LOW,Clerk#000000925,0,onic requests. carefully daring foxes among th...